Repository OpenGeoScales/ogs-data-exploration, pull requests merged in 2021-04, with the labels that each got.

#22 add ademe exploratory notebook #2
  notebooks/ghg-emissions/ademe/ademe-beges-data-exploration.ipynb
Labels: data exploration

#23 add ademe data description file #2
  data-catalog/ghg-emissions/ademe/ademe-data-description.json
  notebooks/ghg-emissions/ademe/ademe-beges-data-exploration.ipynb
Labels: data exploration

#24 update ademe analysis notebook and ademe data description #2
  data-catalog/ghg-emissions/ademe/ademe-data-description.json
  notebooks/ghg-emissions/ademe/ademe-beges-data-exploration.ipynb
Labels: data exploration

#29 define data description attributes #26
  data-catalog/ghg-emissions/README.md
  data-catalog/ghg-emissions/data-catalog.json
Labels: data-catalog

#27 1st draft updated owid data description #14
  data-catalog/ghg-emissions/owid/data-desc.json
  data-catalog/ghg-emissions/owid/owid-data-desc.md
Labels: data exploration

#35 update ademe data exploration notebook #2
  notebooks/ghg-emissions/ademe/ademe-beges-data-exploration.ipynb
Labels: data exploration

#37 update primap-hist readme #17
  data/ghg-emissions/primap-hist/README.md
Labels: data exploration

#46 Gcp
  data-catalog/ghg-emissions/gcp/data-desc.json
  data/ghg-emissions/gcp/Global_Carbon_Budget_2020v1.0.xlsx
  data/ghg-emissions/gcp/National_Carbon_Emissions_2020v1.0.xlsx
  notebooks/ghg-emissions/gcp/Countries_data.ipynb
  notebooks/ghg-emissions/gcp/GCP_Exploration.ipynb
Labels: data exploration

#54 national sub-sectors
  data/ghg-emissions/gcp/GCB2020v18_MtCO2_flat.csv
  notebooks/ghg-emissions/gcp/GCP_Exploration.ipynb
Labels: data exploration

#56 Cdp data exploration
  data/ghg-emissions/cdp/2018_-_2019_City-wide_Emissions.csv
  data/ghg-emissions/cdp/2019_City-wide_Emissions.csv
  data/ghg-emissions/cdp/2020_-_City-Wide_Emissions.csv
  data/ghg-emissions/cdp/README.md
  notebooks/ghg-emissions/cdp/cdp-notebook.ipynb
Labels: data exploration

#60 Missing values and gas emissions analyses #17, add dataset documentation files #53
  data/ghg-emissions/primap-hist/doc/PRIMAP-hist_v2.2_data-description.pdf
  data/ghg-emissions/primap-hist/doc/PRIMAP-hist_v2.2_updated_figures.pdf
  notebooks/ghg-emissions/primap-hist/primap-hist-exploration.ipynb
Labels: data exploration

#61 Gcp
  data/ghg-emissions/gcp/mapped/mapped_data_GCP.json
  notebooks/ghg-emissions/gcp/Mapping_GCP.ipynb
Labels: data-mapping

#62 Cdiac- Data and EDA notebook of Methane, Flux carbon of land use and Halogenated Organic Compounds
  data-catalog/ghg-emissions/cdiac/cdiac-data-desc.md
  data-catalog/ghg-emissions/cdiac/data-desc.json
  data/ghg-emissions/cdiac/Global_land-use_flux-1850_2005.xls
  data/ghg-emissions/cdiac/comphalogens.xls
  data/ghg-emissions/cdiac/methane.xls
  notebooks/ghg-emissions/cdiac/cdiac_analysis_diemb.ipynb
Labels: data exploration
